@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

.card{
    height: 20vh;
    margin-top: 3.5rem;
    display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */
    font-family: 'Viga', sans-serif;
}

.leftpart{
    width: 65%;
}

.rightpart{
color: white;
font-size: xx-large;
display: flex;
justify-content: center;
align-items: center;
}


/* responsive */

@media screen and (max-width: 600px) {
    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
    }

    .leftpart{
        width: 100%;
        
    }

    .rightpart{
        font-size: xx-large;
    }
}

@media screen and (max-width: 1025px) {
    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
    }

    .leftpart{
        width: 100%;
        
    }

    .rightpart{
        font-size:3rem;
    }
}



/* 4k screen */




@media screen and (min-width: 1600px) {
   

    .leftpart{
        width: 80%;
        font-size:2rem;
    }

    .rightpart{
        font-size:3rem;
    }
}

