@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');


.section{
    padding-top: 5rem;
    width: 80vw;
    margin-top: 8vh;
    letter-spacing: -0.5px;
}

.section h1{
    font-family: 'Viga', sans-serif;
    font-size: 3rem;
    line-height: 1;

}

.midIconContainer{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-top: 20px;
}

.section p{
    font-size: large;
    font-weight: normal;
    line-height: 1.6;
    letter-spacing: 1px;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}



.icons img{
    width: 30px;
    color: black;
    object-fit: contain;
}

.markdowncontainer img{
    width: 100%;
}