/* container  */
.App{
  margin:1rem 9rem 0 9rem;
}

/* container */

@media screen and (max-width: 410px) {
    .App{
    
      margin:1.5rem 1.5rem 1rem 1.5rem;
      padding-right: 15px;
      width: 100%;
  }
}


@media screen and (max-width: 530px) {
  .App{
    
    margin:1.5rem 1.5rem 1rem 1.5rem;
    padding-right: 15px;
    width: 100%;
}

}